<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <label>Documento:</label>
  <input formControlName="documento" type="text" />

  <label>Nombre:</label>
  <input formControlName="nombres" type="text" />

  <label>Apellido:</label>
  <input formControlName="apellidos" type="text" />

  <label>Sexo:</label>
  <select formControlName="sexo">
    <option value="M">M</option>
    <option value="F">F</option>
    <option value="Otros">Otros</option>
  </select>

  <label>Teléfono:</label>
  <input formControlName="telefono" type="text" />

  <label>Rol:</label>
  <select formControlName="roleName">
    <option value="Administrador">Administrador</option>
    <option value="EntidadInmobiliaria">Entidad Inmobiliaria</option>
    <option value="UsuarioInmobiliaria">Usuario Inmobiliaria</option>
  </select>

  <label>Dirección:</label>
  <input formControlName="direccion" type="text" />

  <label>Email:</label>
  <input formControlName="email" type="email" />

  <label>Usuario:</label>
  <input formControlName="usuario" type="text" />

  <label>Contraseña:</label>
  <input formControlName="contrasena" type="password" />

  <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
</form>

<!-- Mostrar mensaje de éxito -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Mostrar mensaje de error -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
